// hero block
.heroBlock {
  position: relative;

  .v-window {
    @media only screen and (max-width: 599px) {
      height: 220px !important;
    }
  }



  .title {
    color: $white;
    position: relative;
    z-index: 2;
    font: 300 50px/1.6 $primary-font !important;
  }
}